*{
    font-family: "Manrope", sans-serif;
}
#saying{
    margin-bottom: 30px;
}
.sl_img img{
    width: 100%;
    position: relative;
}
.next{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.previous{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
.say_icon{
    height: 30px;
    width: 30px;
}
.say_icon:hover{
    color: #3734A9;
}
.star:hover{
    color: #FF7F5C;
}
.say_text h2{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    line-height: 30px;
}
.say_text p{
    font-size: 16px;
    font-weight: 400;
    color: #757095;
    line-height: 24px;
}
.say_text h5{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}
.say_text h6{
    font-size: 14px;
    font-weight: 600;
    color: #757095;
}


@media (min-width:320px) and (max-width:575.98px){
    
}
@media (min-width:576px) and (max-width:767.98px){
    
}
@media (min-width:768px) and (max-width:991.98px){
    
}
@media (min-width:992px) and (max-width:1199.98px){
    
}
@media (min-width:1200px) and (max-width:1399.98px){

}