*{
    font-family: "Manrope", sans-serif;
}
#feature{
    margin-bottom: 30px;
}
.fict{
    margin: 50px 0 !important;
}
.fetre_text p{
    text-align: center;
}
.feature_text h6{
    color: #3734A9;  
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature_text h2{
    color: #000;  
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 10px;
}
.feature_text p{
    color: #757095;  
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
@media (min-width:320px) and (max-width:575.98px){
    .feature_img img{
        margin: 10px 0;
    }
    .feature_text h2{
        font-size: 40px;        
    }
    .feature_text p{
        font-size: 14px;
    }
}
@media (min-width:576px) and (max-width:767.98px){
    .feature_img img{
        margin: 10px 0;
    }
    .feature_text h2{
        font-size: 45px;        
    }
    .feature_text p{
        font-size: 15px;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .feature_text h2{
        font-size: 50px;        
    }
    .feature_text p{
        font-size: 18px;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    
}
@media (min-width:1200px) and (max-width:1399.98px){

}